<h2>New Gift</h2>

<form action="/gifts" method="POST">
    <label>Add a new Gift</label><br>
    <textarea name="content" rows="4" cols="35" required: true></textarea><br>
    <button id="submit" type="submit">Add Gift</button>
</form> 