<h1>Welcome, <%= @user.username%></h1>
<p> Your gifts: </p>
<% @user.gifts.each do |gift| %>
        <!--<p>A gift added by @<%= @user.username%></p>-->
        <p><%=gift.content%></p>
        <form action='/gifts/<%=gift.id%>/edit' method="POST">
            <button id="submit" type="submit">Edit Gift</button>
        </form> 
<% end %>

<form action="/gifts/new" method="POST">
    <button id="submit" type="submit">Add a Gift</button>
</form> 
<p></p>
<!-- <form action='/gifts/edit' method="POST">
    <button id="submit" type="submit">Edit a Gift: </button><textarea name="gift_id" rows="1" cols="2"></textarea><br>
</form> -->

<a href="/logout">Log Out<a/> 