<h3><%= @gift.content %><rb>
<p></p>

<form action="/gifts/<%=@gift.id%>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">

    <label>Edit gift</label><br>
    <textarea value="<%= @gift.content %>" name="content" rows="4" cols="35"></textarea><br>
    <button id="submit" type="submit">Submit</button>
</form>
<p></p>

<form action="/gifts/<%= @gift.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete gift">
</form> 