<h1> What would you like to do? </h1>

<form action="/gifts/new" method="POST">
    <button id="submit" type="submit">Add A Gift</button>
</form> 

<form action="/gifts" method="POST">
    <button id="submit" type="submit">View My Gifts</button>
</form>

<!--<form action="/gifts/all" method="POST">
    <button id="submit" type="submit">View All Gifts</button>
</form>-->