<!doctype html>
<html>
  <head>
    <title>Wedding Registry</title>
  </head>
  <form action="/login" method="post">
    <button id="submit" type="submit">Home</button>
  </form> 
  <body>
  <%= yield %>
  </body>
</html>
