<h1>This is my signup page!</h1>
<form method="post" action="/tweets">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username" required aria-required ="true"></textarea> 
  <label for="password">Password: </label>
  <input type="text" id="password" name="password" required aria-required ="true"></textarea>
  <label for="email">Email: </label>
  <input type="text" id="email" name="email" required aria-required ="true"></textarea>
  <input type="submit" id="submit" name="submit">
</form>
